.user-environmental-analyses.edit-action, .user-environmental-analyses.update-action
  .factor-container
    margin-top: 10px

  .grade-container
    position: relative
    top: 140px
    h3.caption
      text-align: center
      font-family: "Myriad Pro Regular"
      color: $gray_color
      font-size: 21px
      position: relative
      top: -35px
    h3.grade
      span.signal
        font-size: 27px
        position: relative
        top: -11px
      color: $gradient_bottom
      font-size: 57px
      padding-bottom: 20px
      text-align: center

  