.form-actions
  position: relative
  left: -40px
  margin-top: 20px
  ul
    list-style: none
    li
      display: inline
      margin-right: 30px
  .button-cancel
    span
      color: red
    &:hover
      background-color: red
      span
        color: white

.my-button.refresh-button
  padding:
    top: 5px
    bottom: 5px
  display: block
  font-size: 40px
  color: $gradient-top
  &:hover
    color: white
    @include background(linear-gradient($gradient_bottom, $gradient_top) left repeat)
