.form-header
  margin:
    bottom: 10px
    top: 15px
  a
    color: $gradient-bottom
    &:hover
      text-decoration: none
      color: black
  .fa
    font-size: 30px
  .form-title-container
    color: $gradient-bottom
    .aligned-to-left
      text-align: left
    h2 
      display: inline
    h2.form-title
      text-align: left
      font-size: 35px
    h2.importance-title, h2.grade-title, h2.situation-title
      font-size: 16px
  