$background-color: #F0F0F0
$gray-color: #8C8C8C
$gradient-bottom: #3888B6
$gradient-top: #29B1AB
$green-color: #00CC00
$black-color: #000000
@import "bootstrap.min"
@import "bourbon"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "jquery-ui.structure.min"
@import "jquery-ui.min"
@import "jquery-ui.theme.min"
@import "toastr"
@import "DateTimePicker"
@import "menu_plugin"
@import "user"
@import "components/init"
@import "factors/init"
@import "environmental_analyses/init"
@font-face
  font-family: "Myriad Pro Regular"
  src: font-url('MyriadPro-Regular.eot?#iefix') format("embedded-opentype")
  src: font-url('MyriadPro-Regular.otf') format("truetype")

@font-face
  font-family: "Myriad Pro Light"
  src: font-url('MyriadPro-Light.eot?#iefix') format("embedded-opentype")
  src: font-url('MyriadPro-Light.otf') format("truetype")

body 
  font-family: "Myriad Pro Light"
  background-color: white
