
a
  text-decoration: none
  color: black
a:hover, a:focus
  text-decoration: none
  color:black
.js_slider
  position: relative
  top: 30px
  @include background(linear-gradient(to right, #FF0000, #FFFF00,#00FF00) no-repeat)
.analysis_title_header
  h3
    position: relative
    top: 13px
    font-size: 12px
    float: right
    display: block
    margin:
      right: -10px
.form_actions
  position: relative
  left: -40px
.analysis_type_container
  position: relative
  left: 72px
.title_container, .analysis_type_container
  display: inline
  h1.title
    font-size: 16px
    margin:
      top: 35px
  h1.analysis_type, h1.vertical_bar
    font-size: 12px
  h1.vertical_bar
    display: inline
    color: white
  h1.vertical_bar:before
    content: "|"
.form_title_container
  color: #3888B6
.body_container
  position: relative
  top: -16px
.row_header
  @include background(linear-gradient(#3888B6, #29B1AB) left repeat)
  color: white
  min-height: 45px
  max-height: 45px
  h1.title, h1.analysis_type
    color: white
    display: inline
  
  .logo_image
    height: 30px
    width: 30px
    margin:
      top: 5px
      bottom: 25px
      left: 5px
    display: inline

.left_menu_item
  padding: 5px
  span.glyphicon
    margin-top: 5px
    color: #29B1AB
  span.glyphicon
    margin:
      top: 5px
      left: 10px
    font-size: 20px
  span.caption, a.caption
    margin:
      left: 10px
      top: 5px
    font-size: 14px
  span.extra_menu
    float: right
  a.caption:focus, a.caption:hover
    @include background(linear-gradient(#3888B6, #29B1AB) left repeat)
  span.js_white_color
    color: white


.form_actions
  ul
    list-style: none
    li
      display: inline
  .glyphicon
    font-size: 40px
  .glyphicon-remove
    color: red
    border: solid red
  .glyphicon-remove:hover
    color: white 
    background-color: red
  .glyphicon-ok
    color: green
    border: solid green
  .glyphicon-ok:hover
    color: white 
    background-color: green

.factors_container
  min-height: 400px
  max-height: 400px
  overflow-x: hidden
  overflow: auto
.form_title_container
  text-align: center
  .aligned_to_left
    text-align: left