$menu-background: #29B1AB
a
  text-decoration: none
  color: black
a:hover, a:focus
  text-decoration: none
  color: black
.alerts-container
  display: none
.right-offset
  position: relative 
  left: 20px

.left-offset
  position: relative
  left: -10px

.message-display
  margin:
    top: 20px
    bottom: 20px
.icon
  font-size: 20px
  
.js-chart-data
  display: none
@-moz-document url-prefix()
  .body-container
    position: relative
    top: -16px
hr
  border-color: $gray-color
p.change-language
  position: relative
  top: 15px
  left: 30px

a.js-exclusion-button:hover
  color: red
.form-actions  
  .alert
    display: inline
    p
      display: inline
span.help-block
  font-size: 20px

.modal-footer
  .btn.btn-default
    color: white
    background-color: $gradient-top
    &:hover
      background-color: $gradient-bottom
  .btn.btn-primary
    background-color: white
    color: black
    &:hover
      background-color: #E0E0E0
    border-color: $gradient-bottom
