
a
  text-decoration: none
  color: black
a:hover, a:focus
  text-decoration: none
  color:black

.analysis_title_header
  h3
    font-size: 16px
.title_container
  h1
    font-size: 30px
.form_title_container
  color: #3888B6

.row_header
  @include background(linear-gradient(#3888B6, #29B1AB) left repeat)
  color: white
  .title_container
    margin:
      top: 35px
      left: 25px
  h1.title, h1.analysis_type
    color: white
    display: inline
  
  .logo_image
    height: 80px
    width: 80px
    margin:
      top: 5px
      bottom: 5px
      left: 20px
    display: inline
  .analysis_title_header
    padding:
      top: 35px

.left_menu_item
  padding: 5px
  span.glyphicon
    color: #29B1AB
  span.glyphicon
    margin:
      left: 5px
      top: 5px
    font-size: 20px
  span.caption, a.caption
    margin:
      left: 7px
      top: 5px
    font-size: 14px
  span.extra_menu
    float: right
  a.caption:focus, a.caption:hover
    @include background(linear-gradient(#3888B6, #29B1AB) left repeat)
  span.js_white_color
    color: white


.form_actions
  ul
    list-style: none
    li
      display: inline
  .glyphicon
    font-size: 40px
  .glyphicon-remove
    color: red
    border: solid red
  .glyphicon-remove:hover
    color: white 
    background-color: red
  .glyphicon-ok
    color: green
    border: solid green
  .glyphicon-ok:hover
    color: white 
    background-color: green