@import "bourbon"
@import "bootstrap-sprockets"
@import "bootstrap"
@import "user"
@import "menu_plugin"
@import "slider"

@font-face
  font-family: "Myriad Pro Regular"
  src: url("/assets/MyriadPro-Regular.otf") format("truetype")

@font-face
  font-family: "Myriad Pro Light"
  src: url("/assets/MyriadPro-Light.otf") format("truetype")

